.container {
  width: 480px;
}

.label {
  font-weight: 900;
  line-height: 58px;
  text-align: center;
  display: block;
}

.input {
  width: 100%;
  padding: 0 15px;
  line-height: 58px;
  background: #fff;
  border-radius: 8px 8px 0 0;
}

.emptySearch {
  line-height: 58px;
}

.button {
  margin-top: 10px;
  width: 100%;
}
